div.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.carousel h2 {
    margin-left: 20px;
    font-size: 1.6rem;
}

div.carousel-div {
    width: 90%;
    overflow: hidden;
}

div.controls {
    width: 95%;
    position: absolute;
    z-index: 2;
}

div.controls label {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff center center/20px no-repeat;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 155px 0 0;/* margin: 110px 0; */
}

div.controls label.left {
    left: 0;
    background-image: url('https://image.flaticon.com/icons/svg/130/130882.svg') !important;
    display: none;
}

div.controls label.right {
    right: 0;
    background-image: url('https://image.flaticon.com/icons/svg/130/130884.svg') !important;
}

div.carousel-div .cards {
    display: flex;
    flex-direction: row;
}

div.carousel-div .cards .contents {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    transition: 1s;
}

div.carousel-div .card:first-child {
    margin-left: 10px;
}

div.carousel-div .card:not(:last-child) {
    margin-right: 20px;
}

