#content {
    max-width: 900px;
}

form {
    margin: 40px 0;
}

form h1 {
    margin: 0 0 15px;
}

form .frete {
    align-items: center;
}

form .frete>p,
form .address>p,
form .freteCost {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 15px 0 5px;
}

form .frete p {
    margin: 0 5px 0 0;
}

form .frete label {
    font-size: 1.2rem;
    padding: 7px 15px;
    border: 1px solid #888;
    margin: 0;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

form .frete label:first-of-type {
    border-radius: 5px 0 0 5px;
}

form .frete label:last-of-type {
    border-radius: 0 5px 5px 0;
}

form .frete label:hover {
    background-color: var(--color-blue);
    color: #fff;
    border: 0;
    padding: 8px 16px;
    transition: background-color 200ms;
}

form .frete input:nth-of-type(1):checked ~ label:nth-of-type(1),
form .frete input:nth-of-type(2):checked ~ label:nth-of-type(2),
form .frete input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color: var(--color-blue);
    color: #fff;
    border: 0;
    padding: 8px 16px;
    cursor: default;
}

form .address>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

form .address>div>div {
    max-width: 250px;
}

form .address>div>div>p {
    margin: 10px 0 5px;
    font-size: 1.4rem;
}

form .address>div>div>label {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form .address>div>div>label>div {
    justify-content: space-between;
    align-items: center;
}

form .address>div>div>label>div>p {
    font-size: 1.4rem;
}


form .address div input:checked ~ label div img {
    height: 16px;
    width: 16px;
    content: url('/images/icons/ok.svg');
}

form .address>div>div>label>p {
    font-size: 1.2rem;
    color: #888;
}

form .freteCost {
    margin-bottom: 0;
}

hr {
    margin: 20px 0;
}

form span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
