.card {
    background: #fff;
    width: 190px;
    height: 300px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translate(-2px,-2px);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card:active {
    transform: translate(0,0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.card>img {
    width: 200px;
}

.card>p {
    font-size: 1.2rem;
    color: #888888;
    display: -webkit-box;
    overflow: hidden;
    margin: 10px 0 5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.card > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}

.card div p {
    font-size: 1.2rem;
    color: #888888;
}

.card div p.discount {
    color: var(--color-green);
}

.card div p.cost {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
}


.card div span.stars img {
    filter: var(--svg-color-yellow);
    width: 15px;
    height: 15px;
}

div#content {
    margin-bottom: 20px;
}

div.features {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 920px;
}

div.features p:first-child {
    font-size: 1.6rem;
}

div.features div.filterAndOrderBy {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.features div.filterAndOrderBy>label {
    margin-right: 5%;
    font-size: 1.2rem;
}

div.features div.filterAndOrderBy>label,
div.features div.filterAndOrderBy select {
    padding: 5px 15px;
    border-radius: 5px;
}

div.features div.filterAndOrderBy p {
    font-size: 1.4rem;
    width: 100px;
}

div.features div.filterAndOrderBy select {
    border: 1px solid var(--color-blue);
    cursor: pointer;
}


div.background {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

div.features div.filterAndOrderBy>input:checked ~ div.background {
    display: block;
}


div.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    left: -100vw;
    top: 0;
    margin: 10% 25%;
    z-index: 10;
    width: 600px;
    transition: 1s;
}

div.features div.filterAndOrderBy>input:checked ~ div.filter {
    left: 0;
    transition: 1s;
}

div.filter>label {
    position: relative;
    height: 0;
}

div.filter>label>img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

div.filter>label>img:hover {
    filter: var(--svg-color-red);
}

div.filter>div {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

div.filter>div>div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

div.filter>div>div:not(:nth-last-child(1)) {
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

div.filter>div>div:not(:nth-child(1)) {
    padding-left: 20px;
}

div.filter>div>div p {
    max-width: 80px;
    font-size: 1.6rem !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

div.filter>div a,
div.filter>div label,
div.filter>div input{
    margin: 3px 0;
    font-size: 1.2rem;
}

div.filter div.filterDiscountAndCondition div div {
    display: grid;
    grid-template-columns: 20px 20px;
    align-items: center;
}

div.filter div.filterEvaluation div {
    display: grid;
    grid-template-columns: 15px auto;
    align-items: center;
}

div.filter div.filterEvaluation div label,
div.filter div.filterEvaluation div input {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

div.filter div.filterEvaluation div label img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    filter: var(--svg-color-yellow);
}

div.filter span.ready label {
    font-size: 1.4rem;
}

div.cardsContents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 20px;
    margin: 20px auto 0;
    max-width: 950px;
}

div.cardsContents>div {
    margin: 0 10px 20px;
}

div.cardsContents>div:nth-child(4n + 1) {
    margin-right: auto;
    margin-left: 0;
}

div.cardsContents>div:nth-child(4n) {
    margin-right: 0;
    margin-left: auto;
}


div.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

div.pages a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
}

div.pages a.currentPage {
    background-color: #fff;
}

div.pages a.imgLeft {
    background: url('../images/icons/arrow-left.svg') center center/20px no-repeat;
}

div.pages a.imgRight {
    background: url('../images/icons/arrow-right.svg') center center/20px no-repeat;
}

div.pages a:hover,
div.pages a:active {
    background-color: #fff;
}

div.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.carousel h2 {
    margin-left: 20px;
    font-size: 1.6rem;
}

div.carousel-div {
    width: 90%;
    overflow: hidden;
}

div.controls {
    width: 95%;
    position: absolute;
    z-index: 2;
}

div.controls label {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff center center/20px no-repeat;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 155px 0 0;/* margin: 110px 0; */
}

div.controls label.left {
    left: 0;
    background-image: url('https://image.flaticon.com/icons/svg/130/130882.svg') !important;
    display: none;
}

div.controls label.right {
    right: 0;
    background-image: url('https://image.flaticon.com/icons/svg/130/130884.svg') !important;
}

div.carousel-div .cards {
    display: flex;
    flex-direction: row;
}

div.carousel-div .cards .contents {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    transition: 1s;
}

div.carousel-div .card:first-child {
    margin-left: 10px;
}

div.carousel-div .card:not(:last-child) {
    margin-right: 20px;
}

