#content {
    max-width: 900px;
}

form {
    margin: 20px 0;
}

h1:first-of-type {
    margin-top: 0;
}

hr {
    margin: 20px 0;
}

form .frete div,
form .payment div,
form .total {
    align-items: center;
}

.linkPut {
    font-size: 1.2rem;
    color: var(--color-blue);
    margin-left: 8px;
}

form p {
    font-size: 1.2rem;
    color: #555;
}

form .frete div:last-of-type,
form .payment div:last-of-type,
form .payment div:last-of-type div,
form .total div {
    justify-content: space-between;
    align-items: center;
}

form .frete div:last-of-type p:last-of-type,
form .payment div:last-of-type div p,
form .total p {
    color: #333;
    font-weight: bold;
    font-size: 1.4rem;
}

form .payment div:last-of-type div,
form .total div {
    width: 100%;
    max-width: 200px;
}

form .total {
    width: 100%;
    justify-content: flex-end;
}

form .divButton {
    width: 100%;
    justify-content: flex-end;
}

form .divButton button {
    max-width: 150px;
}

.productRow {
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.productRow>div>img {
    max-width: 150px;
    margin-right: 20px;
}

.productRow .infoProduct {
    justify-content: space-between;
    width: 36vw;
}

.productRow .infoProduct div:first-child p:first-child {
    font-size: 1.4rem;
    color: #555;
}

.productRow .infoProduct div:first-child p:not(:first-child) {
    font-size: 1.2rem;
    color: #888;
    margin-top: 10px;
}

.productRow .infoProduct div:last-child a {
    color: var(--color-blue);
    font-size: 1.2rem;
}

.productRow .infoProduct div:last-child a:not(:last-child) {
    margin-right: 25px;
}

.productRow .amount {
    margin: 0 20px;
}

.productRow .amount>p{
    text-align: center;
    color: #888;
    margin-top: 5px;
}

.productRow>p {
    font-weight: bold;
    font-size: 1.8rem;
    color: #333;
}

