/* global */

div#box .star {
    filter: var(--svg-color-yellow);
    width: 20px;
    height: 20px;
}

div#box {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

/* initial main */
#main {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#mainImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#mainImg>div {
    display: flex;
    flex-direction: row;
}

#mainImg>div:first-of-type {
    margin-bottom: 10px;
}


#mainImg>div:first-of-type img {
    min-width: 180px;
    max-width: 20vw;
}

#mainImg>div>div {
    width: 0;
    height: 0;
}

#mainImg>div>div>div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    height: 25px;
    margin-top: 5px;
    left: -60px;
}

#mainImg>div>div>div label {
    width: 20px;
    height: 20px;
    background: transparent center center/20px 20px no-repeat;
    cursor: pointer;
}

#mainImg>div>div>div .shareImg {
    background-image: url('../images/icons/share.svg');
}

#mainImg>div>div>div .heartEnabled {
    background-image: url('../images/icons/heart.svg');
}

#mainImg>div>div>div .heartDisabled {
    background-image: url('../images/icons/heart-outline.svg');
    filter: var(--svg-color-red);
}

#mainImg>div:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mainImg>div:last-child label {
    cursor: pointer;
    display: inline;
    margin: auto 2px;
}

#mainImg>div:last-child label img {
    border: 1px solid #ccc;
}

#main>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main>div:last-child>.infoProduct p.description {
    font-size: 1.8rem;
    color: #555;
}

#main>div:last-child>.infoProduct .codeStarsAndRantings {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
}

#main>div:last-child>.infoProduct .codeStarsAndRantings p {
    color: #888;
}

#main>div:last-child>.infoProduct .codeStarsAndRantings>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main>div:last-child>.infoProduct .codeStarsAndRantings>div>div {
    margin-right: 5px;
}

#main>div:last-child>.infoProduct .codeStarsAndRantings>div>div img {
    width: 15px;
    height: 15px;
}


#main>div:last-child>.costAndCategories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin-left: 6%;
}

#main>div:last-child>.costAndCategories p {
    font-size: 1.2rem;
    color: #888;
}

#main>div:last-child>.costAndCategories .cost {
    display: flex;
    flex-direction: column;
    max-width: 190px;
}

#main>div:last-child>.costAndCategories .cost div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main>div:last-child>.costAndCategories .cost div p.costOld {
    text-decoration-line: line-through;
}

#main>div:last-child>.costAndCategories .cost div p.discount {
    color: var(--color-green);
}

#main>div:last-child>.costAndCategories .cost>p:first-of-type {
    font-size: 2.0rem;
    color: #333;
}

#main>div:last-child>.costAndCategories .cost>p:first-of-type b {
    font-size: 2.8rem;
}

#main>div:last-child>.costAndCategories .category select {
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--color-blue);
}

#main>div:last-child>.costAndCategories .category select,
#main>div:last-child>.costAndCategories .category option {
    color: #333;
    cursor: pointer;
}

#main>div:last-child>.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    margin-bottom: 40px;
}

#main>div:last-child>.buttons button {
    flex: 1;
    height: 60px;
    max-width: 280px;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 1%;
}

#main>div:last-child>.buttons button + button {
    color: var(--color-red);
    border: 1px solid var(--color-red);
    background-color: #fff;
}

#main>div:last-child>.buttons button + button:hover {
    background-color: var(--color-red-dark);
    border: 0;
    color: #fff;
}

#main>div:last-child>.buttons button + button:active {
    color: var(--color-red);
    border: 1px solid var(--color-red);
    background-color: #fff;
}

/* final main */

#box>.description>p:nth-of-type(1),
#box>.characteristics>p:nth-of-type(1),
#box>.evaluation>p:nth-of-type(1) {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#box>.description {
    margin: 10px 0 20px;
}

#box>.description p + p {
    font-size: 1.4rem;
    color: #888;
}

#box>.characteristics {
    margin-bottom: 20px;
}

#box>.characteristics table {
    display: flex;
    flex-direction: column;
}

#box>.characteristics table tr {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
}

#box>.characteristics table tr td {
    flex: 1;
    padding: 5px;
}

#box>.characteristics table tr:nth-of-type(2n -1) {
    background-color: #ccc;
}

#box>.evaluation>div:first-of-type {
    margin-bottom: 20px;
}

#box>.evaluation>div:first-of-type,
#box>.evaluation>div:first-of-type>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#box>.evaluation>div:first-of-type>div p {
    font-size: 1.6rem;
    color: #888;
}

#box>.evaluation>div:first-of-type>div>div {
    margin: 0 15px;
}

#box>.evaluation>div:first-of-type>div p:last-of-type {
    font-size: 1.2rem;
}

#box>.evaluation>div:first-of-type>p {
    font-size: 1.4rem;
    color: #888;
}

#box>.evaluation>div:first-of-type>button {
    width: 100%;
    max-width: 90px;
    height: 30px;
    padding: 0;
}

#box>.evaluation .customerRating {
    margin: 15px 0;
}

#box>.evaluation .customerRating p {
    font-size: 1.4rem;
    color: #555;
    margin: 5px 0;
}

#box>.evaluation .customerRating p:first-of-type {
    font-size: 1.6rem;
    color: #333;
}

#box>.evaluation .customerRating p:last-of-type {
    font-size: 1.2rem;
}

#box>.evaluation>a {
    font-size: 1.4rem;
    color: var(--color-blue);
}
