#content {
    flex-direction: row;
}

#box {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#box h1 {
    margin: 20px 0;
}

.titleAndOptions,
.titleAndOptions .optionsAdsAndFilter,
.titleAndOptions .optionsAdsAndFilter .barOfOrder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleAndOptions .optionsAdsAndFilter .buttonAds,
.titleAndOptions .optionsAdsAndFilter>button {
    font-size: 1.3rem;
    padding: 5px 15px;
    margin-right: 25px;
}

.titleAndOptions .optionsAdsAndFilter .barOfOrder p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
}

.titleAndOptions .optionsAdsAndFilter .barOfOrder select {
    padding: 5px;
}

.ads .ad,
.ads .ad .info,
.ads .ad .info .imgProduct {
    display: flex;
    flex-direction: row;
}

.ads .ad {
    margin-bottom: 10px;
}

.ads .ad .info {
    align-items: center;
    justify-content: space-between;

    flex: 1;

    font-size: 1.2rem;
}

.ads .ad .info .imgProduct {
    align-items: center;
}

.ads .ad .info .imgProduct img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.ads .ad .info .imgProduct p {
    color: var(--color-blue);
}

.ads .ad .info .priceAndAmount p,
.ads .ad .info .freteAndSalesAmount p {
    color: #888;
}

.ads .ad .info .buttonsOfOptions .button {
    padding: 10px 20px;
    margin-right: 10px;
}

.ads .ad .optionsOfDetails img {
    width: 20px;
    height: 20px;

    padding-left: 5px;

    cursor: pointer;
}

.ads .ad .optionsOfDetails .optionsBox {
    width: 0;
    height: 0;
}

.ads .ad .optionsOfDetails .optionsBox div {
    position: relative;
    bottom: 30px;
    right: 90px;

    width: 0;
    height: 0;

    box-shadow: none;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: 0.2s;
    transition-delay: 0.5s;
}

.ads .ad .optionsOfDetails .addOptionsBox:focus {
    outline: none;
}

.ads .ad .optionsOfDetails .addOptionsBox:focus ~ .optionsBox div {
    width: 77px;
    height: 75px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    transition-delay: 0.1s;
}

.ads .ad .optionsOfDetails .optionsBox div a {
    font-size: 1.2rem;
    padding: 5px 15px;
}

.ads .ad .optionsOfDetails .optionsBox div a:hover {
    background-color: #f0f0f0;
}

#sidebar {
    width: 0;
}

#sidebar>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    width: 30px;
    height: 100%;
    padding: 0 20px;

    background-color: #fff;

    z-index: 5;

    transition: 0.3s;
}

#sidebar>div:hover {
    width: 140px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
}

#sidebar>div>div {
    position: sticky;
    top: 0;
}

#sidebar>div>div>div {
    overflow: hidden;
}

#sidebar a {
    position: relative;
    width: 140px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.4rem;
    color: var(--color-blue);

    transition: 0.3s;
}

#sidebar a:first-of-type {
    padding-top: 15px;
}

#sidebar a p {
    margin-left: 20px;
}

#sidebar a:hover p,
#sidebar a.active p {
    color: var(--color-red);
}

#sidebar a.shopping::before {
    content: url('../../images/icons/shopping.svg');
}

#sidebar a.shopping:hover::before,
#sidebar a.shopping.active::before {
    content: url('../../images/icons/shopping-red.svg');
}


#sidebar a.sales::before {
    content: url('../../images/icons/sales.svg');
}

#sidebar a.sales:hover::before,
#sidebar a.sales.active::before {
    content: url('../../images/icons/sales-red.svg');
}


#sidebar a.configurations::before {
    content: url('../../images/icons/configurations.svg');
}

#sidebar a.configurations:hover::before,
#sidebar a.configurations.active::before {
    content: url('../../images/icons/configurations-red.svg');
}
