#content {
    flex-direction: row;
}

#box {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 0 20px 20px;
}

#box h1 {
    margin: 20px 0;
}

#box .purchase {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.purchase p + p {
    color: #888;
}

#box .purchase .headerTitleAndButton,
#box .purchase .purchaseInfo,
#box .purchase .purchaseInfo .imgAndInfo,
#box .purchase .purchaseInfo .vendorInfo {
    display: flex;
    flex-direction: row;
}

#box .purchase .headerTitleAndButton {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#box .purchase .headerTitleAndButton h2 {
    margin: 0;
    font-weight: normal;
}

#box .purchase .purchaseInfo {
    justify-content: space-between;
}

#box .purchase .purchaseInfo .imgAndInfo,
#box .purchase .purchaseInfo .vendorInfo {
    height: 50px;
}

#box .purchase .purchaseInfo .imgAndInfo img,
#box .purchase .purchaseInfo .vendorInfo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#box .purchase .purchaseInfo .imgAndInfo .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box .purchase .purchaseInfo .imgAndInfo .info p:first-of-type,
#box .purchase .purchaseInfo .vendorInfo .info p:first-of-type {
    font-weight: bold;
    font-size: 1.4rem;
}

#box .purchase .purchaseInfo .vendorInfo {
    align-items: center;
}

#box .purchase .purchaseInfo .vendorInfo .info p:first-of-type {
    margin-bottom: 10px;
}

#box .purchase .purchaseInfo>a {
    height: 10px;
    color: var(--color-blue);
}

#sidebar {
    width: 0;
}

#sidebar>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    width: 30px;
    height: 100%;
    padding: 0 20px;

    background-color: #fff;

    z-index: 5;

    transition: 0.3s;
}

#sidebar>div:hover {
    width: 140px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
}

#sidebar>div>div {
    position: sticky;
    top: 0;
}

#sidebar>div>div>div {
    overflow: hidden;
}

#sidebar a {
    position: relative;
    width: 140px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.4rem;
    color: var(--color-blue);

    transition: 0.3s;
}

#sidebar a:first-of-type {
    padding-top: 15px;
}

#sidebar a p {
    margin-left: 20px;
}

#sidebar a:hover p,
#sidebar a.active p {
    color: var(--color-red);
}

#sidebar a.shopping::before {
    content: url('../../images/icons/shopping.svg');
}

#sidebar a.shopping:hover::before,
#sidebar a.shopping.active::before {
    content: url('../../images/icons/shopping-red.svg');
}


#sidebar a.sales::before {
    content: url('../../images/icons/sales.svg');
}

#sidebar a.sales:hover::before,
#sidebar a.sales.active::before {
    content: url('../../images/icons/sales-red.svg');
}


#sidebar a.configurations::before {
    content: url('../../images/icons/configurations.svg');
}

#sidebar a.configurations:hover::before,
#sidebar a.configurations.active::before {
    content: url('../../images/icons/configurations-red.svg');
}
