#content {
    flex-direction: row;
}

#box {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#box h1 {
    margin: 10px 0 20px;
}

.warranty * {
    box-sizing: border-box;
}

.warranty label .titleAndInfo {
    margin-bottom: 10px;

    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 5px;

    overflow: hidden;
    transition: 0.2s;
}

.warranty label p {
    font-size: 1.4rem;
    padding: 8px 3px;
}

.warranty .info {
    width: 100%;
    height: 0;

    background-color: #fff;

    padding: 0;

    border: 1px solid var(--color-blue);
    border-radius: 0 0 5px 5px;

    visibility: hidden;
    overflow: hidden;

    transition: visibility 1ms, height 0.2s, padding 0.2s;
}

.warranty label input {
    max-width: 70px;

    display: none;
}

.buttonSubmit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.warranty input:checked + label .titleAndInfo {
    background-color: var(--color-blue);

    border: 1px solid var(--color-blue);
}

.warranty input:checked + label input {
    display: inline-block;
}

.warranty input:checked + label p {
    color: #fff;
}

.warranty input:checked + label .info {
    visibility: visible;
    height: 100%;
    padding: 10px;
}

#sidebar {
    width: 0;
}

#sidebar>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;

    width: 30px;
    height: 100%;
    padding: 0 20px;

    background-color: #fff;

    z-index: 5;

    transition: 0.3s;
}

#sidebar>div:hover {
    width: 140px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
}

#sidebar>div>div {
    position: sticky;
    top: 0;
}

#sidebar>div>div>div {
    overflow: hidden;
}

#sidebar a {
    position: relative;
    width: 140px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.4rem;
    color: var(--color-blue);

    transition: 0.3s;
}

#sidebar a:first-of-type {
    padding-top: 15px;
}

#sidebar a p {
    margin-left: 20px;
}

#sidebar a:hover p,
#sidebar a.active p {
    color: var(--color-red);
}

#sidebar a.shopping::before {
    content: url('../../images/icons/shopping.svg');
}

#sidebar a.shopping:hover::before,
#sidebar a.shopping.active::before {
    content: url('../../images/icons/shopping-red.svg');
}


#sidebar a.sales::before {
    content: url('../../images/icons/sales.svg');
}

#sidebar a.sales:hover::before,
#sidebar a.sales.active::before {
    content: url('../../images/icons/sales-red.svg');
}


#sidebar a.configurations::before {
    content: url('../../images/icons/configurations.svg');
}

#sidebar a.configurations:hover::before,
#sidebar a.configurations.active::before {
    content: url('../../images/icons/configurations-red.svg');
}
