#content {
    flex-direction: row;
}

#box {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#box h1 {
    margin: 20px 0;
}

.titleAndOptions,
.titleAndOptions .optionsAdsAndFilter,
.titleAndOptions .optionsAdsAndFilter .barOfOrder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleAndOptions .optionsAdsAndFilter .buttonAds,
.titleAndOptions .optionsAdsAndFilter>button {
    font-size: 1.3rem;
    padding: 5px 15px;
    margin-right: 25px;
}

.titleAndOptions .optionsAdsAndFilter .barOfOrder p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 5px;
}

.titleAndOptions .optionsAdsAndFilter .barOfOrder select {
    padding: 5px;
}

.ads .ad,
.ads .ad .info,
.ads .ad .info .imgProduct {
    display: flex;
    flex-direction: row;
}

.ads .ad .info .imgProduct a {
    color: var(--color-blue);
}

.ads .ad {
    margin-bottom: 10px;
}

.ads .ad .info {
    align-items: center;
    justify-content: space-between;

    flex: 1;

    font-size: 1.2rem;
}

.ads .ad .info .imgProduct {
    align-items: center;
}

.ads .ad .info .imgProduct img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.ads .ad .info .imgProduct p {
    color: var(--color-blue);
    width: 18vw;
}

.ads .ad .info .priceAndAmount p,
.ads .ad .info .freteAndSalesAmount p {
    color: #888;
}

.ads .ad .info .buttonsOfOptions .button {
    padding: 10px 20px;
    margin-right: 10px;
}

.ads .ad .optionsOfDetails img {
    width: 20px;
    height: 20px;

    padding-left: 5px;

    cursor: pointer;
}

.ads .ad .optionsOfDetails .optionsBox {
    width: 0;
    height: 0;
}

.ads .ad .optionsOfDetails .optionsBox div {
    position: relative;
    bottom: 30px;
    right: 90px;

    width: 0;
    height: 0;

    box-shadow: none;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: 0.2s;
    transition-delay: 0.5s;
}

.ads .ad .optionsOfDetails .addOptionsBox:focus {
    outline: none;
}

.ads .ad .optionsOfDetails .addOptionsBox:focus ~ .optionsBox div {
    width: 77px;
    height: 75px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    transition-delay: 0.1s;
}

.ads .ad .optionsOfDetails .optionsBox div a {
    font-size: 1.2rem;
    padding: 5px 15px;
}

.ads .ad .optionsOfDetails .optionsBox div a:hover {
    background-color: #f0f0f0;
}

.boxDetails {
    display: none;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.2);

    z-index: 5;
}

input#inputBoxDetails:checked ~ .boxDetails {
    display: flex;
}

/* .boxDetails .details {
    width: 70vw;
} */

.boxDetails .details .titleAndClose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boxDetails .details .titleAndClose h1 {
    margin: 0;
}

.boxDetails .details .titleAndClose label {
    width: 15px;
    height: 15px;

    background: transparent url(/images/icons/close.svg) center/15px no-repeat;
}

.boxDetails .details .detail {
    min-width: 300px;
    width: 100%;

    margin: 10px 0;

    font-size: 1.3rem;
}

.boxDetails .details .detail .variations .variationName {
    margin-bottom: 5px;
}

.boxDetails .details .detail .variations .values {
    display: flex;
    flex-direction: row;
}

.boxDetails .details .detail .variations .values p {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 5px;
}

.boxDetails .details .detail .variations .values p:nth-last-child(-n + 1) {
    margin-right: 0;
}

.boxDetails .details .buttonConcluded {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
