#content {
    flex-direction: row;
    justify-content: space-between;
}

#box {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    margin: 20px 0;
}

#box > div {
    margin-bottom: 20px;
}

#box > div > h2 {
    margin-left: 5px;
}

#box .accountData {
    display: flex;
    flex-direction: row;
}

#box .accountData .buttonsConfig {
    width: 100%;
}

#box .accountData .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 100px;
    margin-right: 15px;
}

#box .accountData .photo img {
    width: 100%;
    border-radius: 50%;
}

#box .accountData .photo label {
    font-size: 1.2rem;
    color: var(--color-blue);
}

#box .buttonsConfig,
#box .cards > div,
#box .addresses > div {
    position: relative;
    top: -2px;

    border-radius: 5px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

    overflow: hidden;
}

#box .buttonsConfig > a,
#box .buttonsConfig > label,
#box .cards .configCard,
#box .cards .configLabel,
#box .addresses > div > label,
#box .addresses > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.4rem;
    background-color: #fff;
    padding: 20px;
}

#box .buttonsConfig > :not(:last-child),
#box .cards .configCard {
    border-bottom: 1px solid #ccc;
}

#box .cards .configLabel p,
#box .buttonsConfig > a p,
#box .buttonsConfig > label p {
    flex: 1;
    text-align: left;
}

#box .buttonsConfig > a img,
#box .buttonsConfig > label img,
#box .cards .configLabel img,
#box .addresses > div > label img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

#box .cards .configCard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #888;
}

#box .cards .configCard > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box .cards .configCard .infoCard {
    margin-left: 20px;
}

#box .cards .configCard .infoCard p {
    line-height: 25px;
}

#box .cards .configCard .infoCard p:nth-child(n + 2) {
    color: #888;
}

#box .cards .configCard button {
    color: var(--color-red);
}

#box .addresses .address {
    align-items: flex-start;

    border-bottom: 1px solid #ccc;
}

#box .addresses .address > div p {
    color: #888;
}

#box .addresses .address div p:first-of-type {
    font-size: 1.6rem;
    color: #333;
}

#box .addresses .address img {
    width: 15px;
    height: 15px;
}

#box .cards .configLabel p,
#box .addresses > div > label p {
    color: var(--color-blue);
}

#box .connections > div > a {
    border: 0 !important;
    border-radius: 5px !important;
}

#box .connections > div > a div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#box .connections > div > a div img {
    margin: 0;
    margin-right: 10px;
}

.boxOptions {
    width: 0;
    height: 0;
}

.boxOptions div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
    right: 0;
    bottom: 30px;

    width: 0;
    height: 0;

    background-color: #fff;
    box-shadow: none;

    overflow: hidden;

    transition: 0.2s;
    transition-delay: 1s;
}

.addOptionsBox:focus {
    outline: none;
}

.addOptionsBox:focus ~ .boxOptions div {
    right: 90px;

    width: 70px;
    height: 60px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition-delay: 0.1s;
}

.boxOptions .configLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #333;
}

.boxOptions .configLink:hover {
    background-color: #ccc;
}

#box .addresses .addOptionsBox {
    cursor: pointer;
}

.imgClose {
    height: 15px;
}

.alterProps,
.alterEmailAndPassword {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 100;
}

.alterProps > form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
}

.alterProps form > div {
    display: flex;
    flex-direction: row;
}

.alterProps div,
.headerTitleAndClose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerTitleAndClose {
    margin-bottom: 20px;
}

.headerTitleAndClose h2 {
    margin: 0;
}

.alterProps input {
    width: 100%;
}

.divInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;
}

.alterEmailAndPassword > form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
}

.alterEmailAndPassword > form > div {
    display: flex;
    flex-direction: row;
}

.alterEmailAndPassword > form > div:last-of-type {
    align-items: flex-end;
    height: 200px;
}

.alterEmailAndPassword > form > div:last-of-type > div {
    height: 100%;
}

.alterEmailAndPassword > form > div:last-of-type > div:last-of-type {
    display: flex;
    align-items: flex-end;
}

.alterEmailAndPassword {
    display: none;
}

input#alterEmailAndPassword:checked ~ .alterEmailAndPassword {
    display: flex;
}

input#createCard:checked ~ #createCardDiv {
    display: flex;
}

#createCardDiv {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 5;
}
