#content {
    flex-direction: row;
}

#box {
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.shadow {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#box h1 {
    margin: 10px 0 20px;
}

.addresses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    margin: 20px 0;
}

.addresses .address {
    font-size: 1.3rem;
}

.addresses .address>p {
    margin: 0 5px 10px;
}

.addresses .address fieldset {
    box-sizing: border-box;

    height: min-content;
    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
}

.addresses .address fieldset .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.addresses .address fieldset .title img {
    width: 17px;
    height: 17px;
    visibility: hidden;
}

.addresses .address input:checked ~ fieldset .title img {
    visibility: visible;
}

.addresses .address fieldset label {
    height: 100%;
}

.addresses .address fieldset label > p {
    color: #888;
}

.addresses .address fieldset label > p:last-of-type {
    height: 100%;
}

.buttonsOfAddressesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.3rem;
}
