#content {
    max-width: 1000px;
}

#box {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#box h1 {
    font-size: 1.8rem;
    margin: 0 0 20px;
}

#box p {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#box .commentInfo {
    display: flex;
    flex-direction: row;
}

#box .commentInfo img {
    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
}

#box .commentInfo .info,
#box input,
#box textarea {
    width: 100%;
}

#box textarea {
    resize: vertical;
}

#box .commentInfo .info {
    display: flex;
    flex-direction: column;
}

#box .commentInfo .info > div {
    margin-bottom: 10px;
}

#box .commentInfo .info .divStars .commentStars {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

#box .commentInfo .info .divStars label {
    content: url("/images/icons/star-outline.svg");
    filter: var(--svg-color-yellow);
    cursor: pointer;
}

#box .commentInfo .info .divStars label:hover,
#box .commentInfo .info .divStars label:hover ~ label,
#box .commentInfo .info .divStars input:checked ~ label {
    content: url("/images/icons/star.svg");
}

#box input {
    box-sizing: border-box;
    max-width: none;
    margin: 0 0 15px 0;
}

#box .commentButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
