#content {
    max-width: 1000px;
}

.box {
    margin: 20px 0;
}

.box h1 {
    font-size: 1.8rem;
    margin: 0 0 20px;
}

.box p {
    font-size: 1.4rem;
}

.box>div:first-of-type>img {
    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
}

.box>div:first-of-type>div>div {
    margin: 10px 0;
}

.box>div:first-of-type>div:first-of-type>div:first-of-type {
    margin: 0 0 10px;
}

.box>div:first-of-type>div,
.box input,
.box textarea {
    width: 100%;
}

.box .divStars div {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.box .divStars label {
    content: url('/images/icons/star-outline.svg');
    filter: var(--svg-color-yellow);
    cursor: pointer;
}

.box .divStars label:hover,
.box .divStars label:hover ~ label,
.box .divStars input:checked ~ label {
    content: url('/images/icons/star.svg');
}

.box input {
    max-width: 500px;
}

.box div:last-of-type {
    justify-content: flex-end;
}
