#content {
    max-width: 900px;
}

#frete {
    margin: 40px 0;
}

#frete h1 {
    margin: 0 0 15px;
}

#frete .frete {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#frete .frete > p,
#frete .addresses > p,
#frete .freteCost {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 15px 0 5px;
}

#frete .frete p {
    margin: 0 5px 0 0;
}

#frete .frete label {
    font-size: 1.2rem;
    padding: 7px 15px;
    border: 1px solid #888;
    margin: 0;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

#frete .frete label:first-of-type {
    border-radius: 5px 0 0 5px;
}

#frete .frete label:last-of-type {
    border-radius: 0 5px 5px 0;
}

#frete .frete label:hover {
    background-color: var(--color-blue);
    color: #fff;
    border: 0;
    padding: 8px 16px;
    transition: background-color 200ms;
}

#frete .frete input:nth-of-type(1):checked ~ label:nth-of-type(1),
#frete .frete input:nth-of-type(2):checked ~ label:nth-of-type(2),
#frete .frete input:nth-of-type(3):checked ~ label:nth-of-type(3) {
    background-color: var(--color-blue);
    color: #fff;
    border: 0;
    padding: 8px 16px;
    cursor: default;
}

#frete .addresses {
    display: flex;
    flex-direction: column;
}

#frete .addresses > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#frete .addresses div .address {
    max-width: 250px;
}

#frete .addresses div .address > p {
    margin: 10px 3px 5px;
    font-size: 1.4rem;
}

#frete .addresses div .address label {
    display: flex;
    flex-direction: column;

    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#frete .addresses div .address label div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#frete .addresses div .address label div p {
    font-size: 1.4rem;
}

#frete .addresses div .address input:checked ~ label div img {
    height: 16px;
    width: 16px;
    content: url("/images/icons/ok.svg");
}

#frete .addresses div .address label > p {
    font-size: 1.2rem;
    color: #888;
}

#frete .freteCost {
    margin-bottom: 0;
}

hr {
    margin: 20px 0;
}

#frete span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
