#content {
    max-width: 900px;
}

#box {
    display: flex;
    flex-direction: column;

    margin: 20px 0;
}

#box h1:first-of-type {
    margin-top: 0;
}

#box hr {
    margin: 20px 0;
}

#box .frete div,
#box .payment div,
#box .total {
    align-items: center;
}

#box .cart {
    display: flex;
    flex-direction: column;
}

.linkPut {
    margin-left: 8px;
    font-size: 1.2rem;
    color: var(--color-blue);
}

#box p {
    font-size: 1.2rem;
    color: #555;
}

#box .frete,
#box .payment {
    display: flex;
    flex-direction: column;
}

#box .frete div,
#box .payment div,
#box .total,
#box .total div {
    display: flex;
    flex-direction: row;
}

#box .frete div:last-of-type,
#box .payment div:last-of-type,
#box .payment div:last-of-type div,
#box .total div {
    justify-content: space-between;
    align-items: center;
}

#box .frete div:last-of-type p:last-of-type,
#box .payment div:last-of-type div p,
#box .total p {
    color: #333;
    font-weight: bold;
    font-size: 1.4rem;
}

#box .payment div:last-of-type div,
#box .total div {
    width: 100%;
    max-width: 200px;
}

#box .total {
    width: 100%;
    justify-content: flex-end;
}

#box .divButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#box .divButton button {
    max-width: 150px;
}
