#content {
    max-width: 900px;
    justify-content: center;
}

.divBox {
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.divBox div {
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
}

.divBox a {
    margin-top: 5vw;
    width: 150px;
    padding: 15px;
    font-size: 1.4rem;
}

