/* global */

#content {
    align-items: center;
}

#box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 800px;
}

/* initial main */
#main {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#mainImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#mainImg > div {
    display: flex;
    flex-direction: row;
}

#mainImg > div:first-of-type {
    margin-bottom: 10px;
}

#mainImg > div:first-of-type img {
    display: none;
    width: 250px;
}

#mainImg > div:first-of-type input:checked + img,
#mainImg > div:first-of-type img.notImg {
    display: inline;
}

#mainImg > div > div {
    width: 0;
    height: 0;
}

#mainImg div div .favoriteAndShare {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
    left: -60px;

    width: 50px;
    height: 25px;
    margin-top: 5px;
}

#mainImg div div .favoriteAndShare a + a {
    margin-left: 10px;
}

#mainImg div div .favoriteAndShare .productIcon {
    width: 20px;
    height: 20px;
    background: transparent center center/20px 20px no-repeat;
    cursor: pointer;
}

#mainImg div div .favoriteAndShare .shareImg {
    background-image: url("../images/icons/share.svg");
}

#mainImg div div .favoriteAndShare .heartEnabled {
    background-image: url("../images/icons/heart.svg");
}

#mainImg div div .favoriteAndShare .heartDisabled {
    background-image: url("../images/icons/heart-outline.svg");
    filter: var(--svg-color-red);
}

#mainImg > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#mainImg > div:last-child label {
    display: inline;
    margin: auto 2px;
    cursor: pointer;
}

#mainImg > div:last-child label img {
    border: 1px solid #ccc;
}

#main .infoProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#main .infoProduct > div p.name {
    font-size: 1.8rem;
    color: #555;
}

#main .infoProduct > div .codeStarsAndRantings {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 30px;
}

#main .infoProduct > div .codeStarsAndRantings p {
    color: #888;
}

#main .infoProduct > div .codeStarsAndRantings > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 10px;
}

.stars {
    margin-right: 5px;
    width: 90px;
}

#main .infoProduct p {
    font-size: 1.2rem;
    color: #888;
}

#main .infoProduct .price div {
    display: flex;
    flex-direction: column;
    width: min-content;
}

#main .infoProduct .price div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#main .infoProduct .price div div p.priceOld {
    text-decoration-line: line-through;
}

#main .infoProduct .price div div p.discount {
    color: var(--color-green);
}

#main .infoProduct .price > div > p:first-of-type {
    width: max-content;
    color: #333;
    font-size: 2rem;
}

#main .infoProduct .price b.priceMain {
    font-size: 2.8rem;
}

#main .infoProduct .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    margin: 10px 0;
}

#main .infoProduct .category select {
    width: 100%;
    height: 30px;

    border-radius: 5px;
    border: 1px solid var(--color-blue);
}

#main .infoProduct > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 750px;

    margin-bottom: 40px;
}

#main .infoProduct > .buttons .buttonProduct {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    height: 20px;
    margin-right: 5px;

    font-size: 1.5rem;

    box-sizing: content-box;
    text-transform: uppercase;
}

#main .infoProduct > .buttons .buttonProduct + .buttonProduct {
    height: 19px;
    margin-right: 0;

    border: 1px solid var(--color-red);

    color: var(--color-red);
    background-color: #fff;
}

#main .infoProduct > .buttons .buttonProduct + .buttonProduct:hover {
    background-color: var(--color-red-dark);
    color: #fff;
}

#main .infoProduct > .buttons .buttonProduct + .buttonProduct:active {
    color: var(--color-red);
    background-color: #fff;
}

/* final main */

#box > .description > p:nth-of-type(1),
#box > .characteristics > p:nth-of-type(1),
#box > .evaluation > p:nth-of-type(1) {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#box > .description {
    margin: 10px 0 20px;
}

#box > .description p + p {
    font-size: 1.4rem;
    color: #888;
}

#box > .characteristics {
    margin-bottom: 20px;
}

#box > .characteristics table {
    display: flex;
    flex-direction: column;
}

#box > .characteristics table tr {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
}

#box > .characteristics table tr td {
    flex: 1;
    padding: 5px;
    font-size: 1.2rem;
}

#box > .characteristics table tr:nth-of-type(2n -1) {
    background-color: #ccc;
}

#box > .evaluation > div:first-of-type {
    margin-bottom: 20px;
}

#box > .evaluation > div:first-of-type,
#box > .evaluation > div:first-of-type > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#box > .evaluation > div:first-of-type > div p {
    font-size: 1.6rem;
    color: #888;
}

#box > .evaluation > div:first-of-type > div > div {
    margin: 0 15px;
}

#box > .evaluation > div:first-of-type > div p:last-of-type {
    font-size: 1.2rem;
}

#box > .evaluation > div:first-of-type > p {
    font-size: 1.4rem;
    color: #888;
}

#box > .evaluation > div:first-of-type > a {
    width: 100%;
    max-width: 90px;
    padding: 6px 0;
    font-size: 1.3rem;
    text-align: center;
}

#box > .evaluation .customerRating {
    margin: 15px 0;
}

#box > .evaluation .customerRating p {
    font-size: 1.4rem;
    color: #555;
    margin: 5px 0;
}

#box > .evaluation .customerRating p:first-of-type {
    font-size: 1.6rem;
    color: #333;
}

#box > .evaluation .customerRating p:last-of-type {
    font-size: 1.2rem;
}

#box > .evaluation > a {
    font-size: 1.4rem;
    color: var(--color-blue);
}
