.productRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.productRow > div:first-of-type {
    display: flex;
    flex-direction: row;
}

.productRow > div > img {
    width: 100%;
    max-width: 100px;
    margin-right: 20px;
}

.productRow .infoProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36vw;
}

.productRow .infoProduct .productRowInfo {
    display: flex;
    flex-direction: column;
}

.productRow .infoProduct .productRowInfo p:first-of-type {
    font-size: 1.4rem;
    color: #555;
}

.productRow .infoProduct .productRowInfo p:not(:first-of-type) {
    font-size: 1.2rem;
    color: #888;
    margin-top: 10px;
}

.productRow .infoProduct .productRowInfo p:last-of-type {
    margin-bottom: 10px;
}

.productRow .infoProduct .productRowLinks {
    display: flex;
    flex-direction: row;
}

.productRow .infoProduct .productRowLinks .productRowLink {
    color: var(--color-blue);
    font-size: 1.2rem;
}

.productRow .infoProduct .productRowLinks .productRowLink:not(:last-child) {
    margin-right: 25px;
}

.productRow .amount {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.productRow .amount > p {
    text-align: center;
    color: #888;
    margin-top: 5px;
}

.productRow > p {
    font-weight: bold;
    font-size: 1.8rem;
    color: #333;
}
